html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrolling to keep the layout fixed */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.home-content {
    text-align: center;
    position: absolute; /* Absolute positioning to move it relative to the viewport */
    top: 100px; /* Move the content 200px down from the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Offset by half of its width to ensure centering */
}

.home-content h1 {
    font-size: 4rem; /* Adjust font size */
    font-weight: 700;
    line-height: 1.3;
}

.home-content h3 {
    font-size: 2.5rem; /* Adjust font size */
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1.2rem; /* Adjust font size */
}

.home-content span {
    color: #888; /* Grey color for spans */
}



